<footer class="m_footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3">
                <div class="title">О нас</div>
                <p>Spbestate.info одна из старейших досок объявлений Петербурга по поиску недвижимости. Мы начали свою работу в 2003 г.</p>
                <p>Основная масса объявлений, подается частными лицами, и Вы имеете возможность снять или купить квартиру без посредников.</p>
                <p><a href="#">Контакты</a></p>
            </div>
            <div class="col-md-3 visible-lg visible-md">
                <div class="title">Новости</div>
                <script type="text/javascript" src="//vk.com/js/api/openapi.js?121"></script>

                <!-- VK Widget -->
                <div id="vk_groups"></div>
                <script type="text/javascript">
                VK.Widgets.Group("vk_groups", {mode: 1, width: "220", height: "400", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 20003922);
                </script>
            </div>
            <div class="col-md-3 visible-lg visible-md">
                <div class="title">Жилая</div>
                <ul class="list">
                    <li><a href="#">Снять квартиру, комнату</a></li>
                    <li><a href="#">Посуточная аренда квартир</a></li>
                    <li><a href="#">Купить квартиру, комнату</a></li>
                    <li><a href="#">Заявки на аренду квартиры</a></li>
                </ul>
            </div>
            <div class="col-md-3 visible-lg visible-md">
                <div class="title">Коммерческая</div>
                <ul class="list">
                    <li><a href="#">Аренда офис, склад, помещение</a></li>
                    <li><a href="#">Аренда банкетные, конференц. залы</a></li>
                    <li><a href="#">Продажа офис, помещение, участок</a></li>
                    <li><a href="#">Заявки, тендеры</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-sm-6">
                <div class="copyright">© Copyright 2003-2015. <br>All rights reserved. <a href="#" class="rambler"></a></div>
            </div>
            <div class="col-xs-4 col-sm-6">
                <div class="socials">
                    <a href="#" class="facebook icon-fb"></a>
                    <a href="#" class="twitter icon-tt"></a>
                </div>
            </div>
        </div>
    </div>
</footer>