<div class="m_lead-filters">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h1>Вся недвижимость Петербурга</h1>
                <div class="m_filters">
                    <div class="total">Продажа недвижимости <br>в Санкт-Петербурге <span class="hidden-320">&mdash;</span><br class="visible-320"> 1 529 612 объявлений</div>
                    <form>
                        <div class="group">
                            <div class="section">
                                <label class="radio-custom">
                                  <input name="filter-section" type="radio"/>
                                  <span>АРЕНДА</span>
                                </label>
                                <label class="radio-custom">
                                  <input name="filter-section" type="radio"/>
                                  <span>ПРОДАЖА</span>
                                </label>
                                <label class="radio-custom">
                                  <input name="filter-section" type="radio"/>
                                  <span><i class="short">КРАТКОСРОЧНО</i><i class="normal">КРАТКОСРОЧНАЯ АРЕНДА</i></span>
                                </label>
                                <label class="radio-custom">
                                  <input name="filter-section" type="radio"/>
                                  <span>ЗАЯВКИ</span>
                                </label>
                            </div>
                        </div>
                        <div class="group">
                            <div class="type">
                                <div class="col-title">Тип:</div>
                                <select class="filters-select">
                                  <optgroup label="Жилая">
                                    <option value="type-1">Квартира</option>
                                    <option value="type-2">Комната</option>
                                    <option value="type-3">Загородный дом (Коттедж)</option>
                                    <option value="type-4">Земельный участок</option>
                                  </optgroup>
                                  <optgroup label="Коммерческая">
                                    <option value="type-5">Офисы</option>
                                    <option value="type-6">Производства/Склады</option>
                                    <option value="type-7">Торговля/услуги</option>
                                    <option value="type-8">Участки/Здания/Имущественные комплексы</option>
                                    <option value="type-9">Комплекс зданий</option>
                                  </optgroup>
                                </select>
                            </div>
                            <div class="rooms">
                                <div class="col-title">Комнат:</div>
                                <div class="boxes">
                                    <div class="custom-checkbox">
                                      <input id="filters-rooms-1" type="checkbox" name="filters-rooms"/>
                                      <label for="filters-rooms-1"><span>1</span></label>
                                    </div>
                                    <div class="custom-checkbox">
                                      <input id="filters-rooms-2" type="checkbox" name="filters-rooms"/>
                                      <label for="filters-rooms-2"><span>2</span></label>
                                    </div>
                                    <div class="custom-checkbox">
                                      <input id="filters-rooms-3" type="checkbox" name="filters-rooms"/>
                                      <label for="filters-rooms-3"><span>3</span></label>
                                    </div>
                                    <div class="custom-checkbox">
                                      <input id="filters-rooms-4-and-more" type="checkbox" name="filters-rooms"/>
                                      <label for="filters-rooms-4-and-more"><span>4+</span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="price">
                                <div class="col-title">Цена:</div>
                                <div class="inps">
                                    <input class="text" type="number" placeholder="От">
                                    <input class="text" type="number" placeholder="До">
                                </div>
                            </div>
                            <div class="locate">
                                <div class="col-title">Расположение:</div>
                                <select class="filters-select" multiple title="Район">
                                    <option value="">Адмиралтейский</option>
                                    <option value="">Василеостровский</option>
                                    <option value="">Выборгский</option>
                                    <option value="">Калининский</option>
                                    <option value="">Кировский</option>
                                    <option value="">Колпинский</option>
                                    <option value="">Красногвардейский</option>
                                    <option value="">Красносельский</option>
                                    <option value="">Кронштадский</option>
                                    <option value="">Курортный</option>
                                    <option value="">Московский</option>
                                    <option value="">Невский</option>
                                    <option value="">Петроградский</option>
                                    <option value="">Петродворцовый</option>
                                    <option value="">Приморский</option>
                                    <option value="">Пушкинский</option>
                                    <option value="">Фрунзенский</option>
                                    <option value="">Центральный</option>
                                </select>
                                <select class="filters-select" multiple title="Область">
                                    <option value="">Бокситогорский</option>
                                    <option value="">Волосовский</option>
                                    <option value="">Волховский</option>
                                    <option value="">Всеволожский</option>
                                    <option value="">Выборгский</option>
                                    <option value="">Гатчинский</option>
                                    <option value="">Кингисеппский</option>
                                    <option value="">Киришский</option>
                                    <option value="">Кировский</option>
                                    <option value="">Лодейнопольский</option>
                                    <option value="">Ломоносовский</option>
                                    <option value="">Лужский</option>
                                    <option value="">Подпорожский</option>
                                    <option value="">Приозерский</option>
                                    <option value="">Сланцевский</option>
                                    <option value="">Сосновоборский</option>
                                    <option value="">Тихвинский</option>
                                    <option value="">Тосненский</option>
                                </select>
                            </div>
                            <div class="find">
                                <input class="submit" type="submit" value="НАЙТИ">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="m_banner">
                    <div class="full">
                        <a href="#"><img src="http://placehold.it/1170x90/" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>