//======================================//

clearfix()
  &:before
  &:after
    content ''
    display table
    clear both

anim()
  transition all 0.25s ease-out

smooth()
  -webkit-transform translate3d(0, 0, 0)
  -webkit-backface-visibility hidden
  -webkit-perspective 1000

font(fz, lh)
  font-size fz
  line-height lh

//======================================//

$min-width = 960px
$footer-height = 100px
$footer-margin-top = 50px

//======================================//