<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-tap-highlight" content="no"/>
    <link href="../css/vendor.css" rel="stylesheet" media="all">
    <link href="../css/app.css" rel="stylesheet" media="all">
    <title>Объявление №92687</title>
</head>
<body>
    <header class="m_header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div class="left">
                        <div class="logo"><a href="/"></a></div>
                        <div class="slogan">Недвижимость в Санкт-Петербурге</div>
                    </div>
                    <div class="right">
                        <div class="post-new">
                            <a href="#"><i class="icon-add"></i> РАЗМЕСТИТЬ ОБЪЯВЛЕНИЕ</a>
                        </div>
                        <div class="user-signin">
                            <a href="#"><i class="icon-login"></i> <span>Вход</span></a>
                        </div>
                        <div class="user-fav">
                            <a href="#"><i class="icon-fav"></i> <span>Избранное (10)</span></a>
                        </div>
                        <div class="user-mobile-menu">
                            <div class="hamburger">
                              <span></span>
                              <span></span>
                              <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="m_breadcrumbs">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <ul class="hidden-xs normal">
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">Торговля/услуги</a></li>
                        <li><span>Объявление #92687</span></li>
                    </ul>
                    <ul class="visible-xs">
                        <li><a href="#">Объявление #92687</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="m_small-filters">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div class="m_filters">
                        <form>
                            <div class="group">
                                <div class="section">
                                    <label class="radio-custom">
                                      <input name="filter-section" type="radio"/>
                                      <span>АРЕНДА</span>
                                    </label>
                                    <label class="radio-custom">
                                      <input name="filter-section" type="radio"/>
                                      <span>ПРОДАЖА</span>
                                    </label>
                                    <label class="radio-custom">
                                      <input name="filter-section" type="radio"/>
                                      <span><i class="short">КРАТКОСРОЧНО</i><i class="normal">КРАТКОСРОЧНАЯ АРЕНДА</i></span>
                                    </label>
                                    <label class="radio-custom">
                                      <input name="filter-section" type="radio"/>
                                      <span>ЗАЯВКИ</span>
                                    </label>
                                </div>
                            </div>
                            <div class="group">
                                <div class="type">
                                    <div class="col-title">Тип:</div>
                                    <select class="filters-select">
                                      <optgroup label="Жилая">
                                        <option value="type-1">Квартира</option>
                                        <option value="type-2">Комната</option>
                                        <option value="type-3">Загородный дом (Коттедж)</option>
                                        <option value="type-4">Земельный участок</option>
                                      </optgroup>
                                      <optgroup label="Коммерческая">
                                        <option value="type-5">Офисы</option>
                                        <option value="type-6">Производства/Склады</option>
                                        <option value="type-7">Торговля/услуги</option>
                                        <option value="type-8">Участки/Здания/Имущественные комплексы</option>
                                        <option value="type-9">Комплекс зданий</option>
                                      </optgroup>
                                    </select>
                                </div>
                                <div class="rooms">
                                    <div class="col-title">Комнат:</div>
                                    <div class="boxes">
                                        <div class="custom-checkbox">
                                          <input id="filters-rooms-1" type="checkbox" name="filters-rooms"/>
                                          <label for="filters-rooms-1"><span>1</span></label>
                                        </div>
                                        <div class="custom-checkbox">
                                          <input id="filters-rooms-2" type="checkbox" name="filters-rooms"/>
                                          <label for="filters-rooms-2"><span>2</span></label>
                                        </div>
                                        <div class="custom-checkbox">
                                          <input id="filters-rooms-3" type="checkbox" name="filters-rooms"/>
                                          <label for="filters-rooms-3"><span>3</span></label>
                                        </div>
                                        <div class="custom-checkbox">
                                          <input id="filters-rooms-4-and-more" type="checkbox" name="filters-rooms"/>
                                          <label for="filters-rooms-4-and-more"><span>4+</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="price">
                                    <div class="col-title">Цена:</div>
                                    <div class="inps">
                                        <input class="text" type="number" min="1000" step="1000" value="" placeholder="От">
                                        <input class="text" type="number" min="1000" step="1000" value="" placeholder="До">
                                    </div>
                                </div>
                                <div class="locate">
                                    <div class="col-title">Расположение:</div>
                                    <select class="filters-select" multiple title="Район">
                                        <option value="">Адмиралтейский</option>
                                        <option value="">Василеостровский</option>
                                        <option value="">Выборгский</option>
                                        <option value="">Калининский</option>
                                        <option value="">Кировский</option>
                                        <option value="">Колпинский</option>
                                        <option value="">Красногвардейский</option>
                                        <option value="">Красносельский</option>
                                        <option value="">Кронштадский</option>
                                        <option value="">Курортный</option>
                                        <option value="">Московский</option>
                                        <option value="">Невский</option>
                                        <option value="">Петроградский</option>
                                        <option value="">Петродворцовый</option>
                                        <option value="">Приморский</option>
                                        <option value="">Пушкинский</option>
                                        <option value="">Фрунзенский</option>
                                        <option value="">Центральный</option>
                                    </select>
                                    <select class="filters-select" multiple title="Область">
                                        <option value="">Бокситогорский</option>
                                        <option value="">Волосовский</option>
                                        <option value="">Волховский</option>
                                        <option value="">Всеволожский</option>
                                        <option value="">Выборгский</option>
                                        <option value="">Гатчинский</option>
                                        <option value="">Кингисеппский</option>
                                        <option value="">Киришский</option>
                                        <option value="">Кировский</option>
                                        <option value="">Лодейнопольский</option>
                                        <option value="">Ломоносовский</option>
                                        <option value="">Лужский</option>
                                        <option value="">Подпорожский</option>
                                        <option value="">Приозерский</option>
                                        <option value="">Сланцевский</option>
                                        <option value="">Сосновоборский</option>
                                        <option value="">Тихвинский</option>
                                        <option value="">Тосненский</option>
                                    </select>
                                </div>
                                <div class="find">
                                    <input class="submit" type="submit" value="НАЙТИ">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m_banner eq">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <a href="#"><img src="http://placehold.it/1170x90/" alt=""></a>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-9">
                    <div class="m_object">
                        <div class="header">
                            <div class="title">
                                <h2>Отличное проездное место на Петроградской строне! Санкт-Петербург (Спб)</h2>
                                <div class="price">
                                    <div class="user-price">1 400 руб/м<sup>2</sup></div>
                                    <div class="variable">торг возможен</div>
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="post">Размещено 7 декабря 2015</div>
                                <div class="right">
                                    <a href="#"><i class="icon-download"></i> <span>Скачать объявление для Клиента</span></a><br>
                                    <a href="#"><i class="icon-download"></i> <span>Скачать объявление для Агента</span></a><br>
                                    <a href="#"><i class="icon-fav"></i> <span>Добавить в избранное</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="m_object-carousel">
                            <div class="row">
                                <div class="slider-for">
                                    <div class="slide"><div class="image" style="background-image: url('../images/content/latest/8.jpg')"></div></div>
                                    <div class="slide"><div class="image" style="background-image: url('../images/content/latest/8.jpg')"></div></div>
                                    <div class="slide"><div class="image" style="background-image: url('../images/content/latest/8.jpg')"></div></div>
                                    <div class="slide"><div class="image" style="background-image: url('../images/content/latest/8.jpg')"></div></div>
                                    <div class="slide"><div class="image" style="background-image: url('../images/content/latest/8.jpg')"></div></div>
                                    <div class="slide"><div class="image" style="background-image: url('../images/content/latest/8.jpg')"></div></div>
                                    <div class="slide"><div class="image" style="background-image: url('../images/content/latest/8.jpg')"></div></div>
                                    <div class="slide"><div class="image" style="background-image: url('../images/content/latest/8.jpg')"></div></div>
                                    <div class="slide"><div class="image" style="background-image: url('../images/content/latest/8.jpg')"></div></div>
                                </div>
                            </div>
                            <div class="slider-nav">
                                <div class="slide"><div class="image" style="background-image: url('../images/content/latest/8.jpg')"></div></div>
                                <div class="slide"><div class="image" style="background-image: url('../images/content/latest/8.jpg')"></div></div>
                                <div class="slide"><div class="image" style="background-image: url('../images/content/latest/8.jpg')"></div></div>
                                <div class="slide"><div class="image" style="background-image: url('../images/content/latest/8.jpg')"></div></div>
                                <div class="slide"><div class="image" style="background-image: url('../images/content/latest/8.jpg')"></div></div>
                                <div class="slide"><div class="image" style="background-image: url('../images/content/latest/8.jpg')"></div></div>
                                <div class="slide"><div class="image" style="background-image: url('../images/content/latest/8.jpg')"></div></div>
                                <div class="slide"><div class="image" style="background-image: url('../images/content/latest/8.jpg')"></div></div>
                                <div class="slide"><div class="image" style="background-image: url('../images/content/latest/8.jpg')"></div></div>
                            </div>
                        </div>
                        <div class="object-description">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="obj-detail">
                                        <div class="desc-title"><i class="icon-object"></i> <span>Детали объекта</span></div>
                                        <div class="desc-table">
                                            <div class="tr"><div class="ls"><span>Тип:</span></div><div class="td">Торговля/услуги</div></div>
                                            <div class="tr"><div class="ls"><span>Общая площадь:</span></div><div class="td">101 м2</div></div>
                                            <div class="tr"><div class="ls"><span>Эффективная площадь:</span></div><div class="td">90 м2</div></div>
                                            <div class="tr"><div class="ls"><span>h (Высота потолков):</span></div><div class="td">3</div></div>
                                            <div class="tr"><div class="ls"><span>Этаж/этажность:</span></div><div class="td">1/5</div></div>
                                            <div class="tr"><div class="ls"><span>Интернет:</span></div><div class="td"><i class="icon-ok"></i></div></div>
                                            <div class="tr"><div class="ls"><span>Парковка:</span></div><div class="td"><i class="icon-no"></i></div></div>
                                            <div class="tr"><div class="ls"><span>Водоснабжение:</span></div><div class="td"><i class="icon-ok"></i></div></div>
                                            <div class="tr"><div class="ls"><span>Отопление:</span></div><div class="td"><i class="icon-ok"></i></div></div>
                                            <div class="tr"><div class="ls"><span>Охрана:</span></div><div class="td">Сигнализация</div></div>
                                            <div class="tr"><div class="ls"><span>Доступ:</span></div><div class="td">Без выходных</div></div>
                                            <div class="tr"><div class="ls"><span>Электричество в кВт:</span></div><div class="td">10</div></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="obj-address">
                                        <div class="desc-title"><i class="icon-location"></i> <span>Адрес</span></div>
                                        <div class="desc-table">
                                            <div class="tr"><div class="ls"><span>Номер объявления:</span></div><div class="td">92687</div></div>
                                            <div class="tr"><div class="ls"><span>Город:</span></div><div class="td">Санкт-Петрбург</div></div>
                                            <div class="tr"><div class="ls"><span>Район:</span></div><div class="td">Петроградский</div></div>
                                            <div class="tr"><div class="ls"><span>Метро:</span></div><div class="td">Петроградская</div></div>
                                            <div class="tr"><div class="ls"><span>Удаленность от метро:</span></div><div class="td">15 мин. пешком</div></div>
                                            <div class="tr"><div class="ls"><span>Адрес:</span></div><div class="td"><span class="green">Большая Пушкарская ул. 11</span></div></div>
                                        </div>
                                    </div>
                                    <div class="obj-deal">
                                        <div class="desc-title"><i class="icon-deal"></i> <span>Детали сделки</span></div>
                                        <div class="desc-table">
                                            <div class="tr"><div class="ls"><span>Цена:</span></div><div class="td"><span class="green">1 000 руб.</span></div></div>
                                            <div class="tr"><div class="ls"><span>Цена за:</span></div><div class="td">За метр в месяц (при аренде)</div></div>
                                            <div class="tr"><div class="ls"><span>Форма нологообложения:</span></div><div class="td">УСН (Упрощенка)</div></div>
                                            <div class="tr"><div class="ls"><span>Комиссия:</span></div><div class="td"><span class="green">Без комиссии</span></div></div>
                                            <div class="tr"><div class="ls"><span>Автор:</span></div><div class="td">Агенство</div></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-12 col-sm-12">
                                    <div class="obj-desc-large">
                                        <div class="desc-title"><i class="icon-desc"></i> <span>Описание</span></div>
                                        <div class="desc-table">
                                            <p>Предлагаем арендовать помещение 843 м2 по цене 850 руб./м2 (при необходимости можно увеличить до 1124 м2, тогда цена будет 790 руб/м2) включая НДС.  1 этаж. Электричество до 150 кВТ.  Площадь имеет несколько отдельных входов, также и совместный вход с бизнес центром, пандус для разгрузки, грузовой лифт, торговый зал, подсобные помещения, приточно- вытяжная система, сплинкирная система и система водяного пожаротушения, система видеонаблюдения, тревожная кнопка</p>
                                            <p><span class="green">Выплатим комиссионные в размере 40% от месячной ставки аренды за Клиента, который заключит договор.</span></p>
                                            <p>Возможно обсуждение арендной ставки и льготного периода.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="object-person">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="logo">
                                        <img src="../images/content/logo-ad.jpg" alt="">
                                        <span>ООО «Максиматика»</span>
                                    </div>
                                    <div class="remark hidden-xs">При контакте, пожалуйста сообщите, что Вы нашли это объявление на сайте spbestate.info</div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="user-data">
                                        <div class="image" style="background-image: url('../images/content/personal.jpg')"></div>
                                        <div class="name">Контактное лицо: <span>Александр</span></div>
                                        <div class="tel" data-tel="hidden" data-last="">+7 921 911-12-53</div>
                                        <div class="tel" data-tel="hidden" data-last="">+7 800 291-88-77</div>
                                        <div class="tel" data-tel="hidden" data-last="">+8 094 772-21-55</div>
                                        <div class="show-tel"><a href="#" id="show-tel">ПОКАЗАТЬ ТЕЛЕФОН</a></div>
                                        <div class="options">
                                            <div class="send">
                                                <a href="#">
                                                    <i class="icon-post"></i>
                                                    <span>Написать сообщение</span>
                                                </a>
                                            </div>
                                            <div class="all-objs">
                                                <a href="#">
                                                    <div class="hamburger">
                                                      <span></span>
                                                      <span></span>
                                                      <span></span>
                                                    </div>
                                                    <span>Все объявления пользователя</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 visible-xs">
                                    <div class="remark visible-xs">При контакте, пожалуйста сообщите, что Вы нашли это объявление на сайте spbestate.info</div>
                                </div>
                            </div>
                        </div>
                        <div class="object-image">
                            <img src="../images/content/latest/8.jpg" alt="">
                        </div>
                        <div class="object-map">
                            <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
                            <script>
                                ymaps.ready(init);
                                function init () {
                                  var myMap = new ymaps.Map("map", {
                                          center: [59.926408, 30.320554],
                                          zoom: 13,
                                          controls: ['zoomControl']
                                      }),
                                  myPlacemark = new ymaps.Placemark([59.926408, 30.320554]);
                                  myMap.geoObjects.add(myPlacemark);
                                  myMap.behaviors.disable('scrollZoom');
                                  myMap.behaviors.disable('multiTouch')
                                }
                            </script>
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
                <div class="visible-lg col-sm-3">
                    <div class="m_sidebar-partnership">
                        <div class="item">
                            <a href="#"><img src="http://placehold.it/270x200/" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="#"><img src="http://placehold.it/270x200/" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="#"><img src="http://placehold.it/270x200/" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="#"><img src="http://placehold.it/270x200/" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="#"><img src="http://placehold.it/270x200/" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="#"><img src="http://placehold.it/270x200/" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
    </div>


    <div class="m_similar-carousel">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div class="m_block-header">
                        <h2 class="headling">ПОХОЖИЕ ПРЕДЛОЖЕНИЯ</h2>
                    </div>
                    <div class="similar-carousel">
                        <div class="m_lead-item">
                            <a class="image" href="#" style="background-image: url('../images/content/latest/8.jpg')"></a>
                            <div class="description type-rent">
                                <div class="category">Квартира</div>
                                <div class="title"><a href="#">Дунайский пр. 14, к. 1</a></div>
                                <div class="intro">Продажа квартир от застройщика! 1-3 к.кв</div>
                            </div>
                            <div class="footer">
                                <div class="footer-price">52 000</div>
                                <div class="locate">Выборгский</div>
                            </div>
                        </div>
                        <div class="m_lead-item">
                            <a class="image" href="#" style="background-image: url('../images/content/latest/8.jpg')"></a>
                            <div class="description type-rent">
                                <div class="category">Квартира</div>
                                <div class="title"><a href="#">Дунайский пр. 14, к. 1</a></div>
                                <div class="intro">Продажа квартир от застройщика! 1-3 к.кв</div>
                            </div>
                            <div class="footer">
                                <div class="footer-price">52 000</div>
                                <div class="locate">Выборгский</div>
                            </div>
                        </div>
                        <div class="m_lead-item">
                            <a class="image" href="#" style="background-image: url('../images/content/latest/8.jpg')"></a>
                            <div class="description type-rent">
                                <div class="category">Квартира</div>
                                <div class="title"><a href="#">Дунайский пр. 14, к. 1</a></div>
                                <div class="intro">Продажа квартир от застройщика! 1-3 к.кв</div>
                            </div>
                            <div class="footer">
                                <div class="footer-price">52 000</div>
                                <div class="locate">Выборгский</div>
                            </div>
                        </div>
                        <div class="m_lead-item">
                            <a class="image" href="#" style="background-image: url('../images/content/latest/8.jpg')"></a>
                            <div class="description type-rent">
                                <div class="category">Квартира</div>
                                <div class="title"><a href="#">Дунайский пр. 14, к. 1</a></div>
                                <div class="intro">Продажа квартир от застройщика! 1-3 к.кв</div>
                            </div>
                            <div class="footer">
                                <div class="footer-price">52 000</div>
                                <div class="locate">Выборгский</div>
                            </div>
                        </div>
                        <div class="m_lead-item">
                            <a class="image" href="#" style="background-image: url('../images/content/latest/8.jpg')"></a>
                            <div class="description type-rent">
                                <div class="category">Квартира</div>
                                <div class="title"><a href="#">Дунайский пр. 14, к. 1</a></div>
                                <div class="intro">Продажа квартир от застройщика! 1-3 к.кв</div>
                            </div>
                            <div class="footer">
                                <div class="footer-price">52 000</div>
                                <div class="locate">Выборгский</div>
                            </div>
                        </div>
                        <div class="m_lead-item">
                            <a class="image" href="#" style="background-image: url('../images/content/latest/8.jpg')"></a>
                            <div class="description type-rent">
                                <div class="category">Квартира</div>
                                <div class="title"><a href="#">Дунайский пр. 14, к. 1</a></div>
                                <div class="intro">Продажа квартир от застройщика! 1-3 к.кв</div>
                            </div>
                            <div class="footer">
                                <div class="footer-price">52 000</div>
                                <div class="locate">Выборгский</div>
                            </div>
                        </div>
                        <div class="m_lead-item">
                            <a class="image" href="#" style="background-image: url('../images/content/latest/8.jpg')"></a>
                            <div class="description type-rent">
                                <div class="category">Квартира</div>
                                <div class="title"><a href="#">Дунайский пр. 14, к. 1</a></div>
                                <div class="intro">Продажа квартир от застройщика! 1-3 к.кв</div>
                            </div>
                            <div class="footer">
                                <div class="footer-price">52 000</div>
                                <div class="locate">Выборгский</div>
                            </div>
                        </div>
                        <div class="m_lead-item">
                            <a class="image" href="#" style="background-image: url('../images/content/latest/8.jpg')"></a>
                            <div class="description type-rent">
                                <div class="category">Квартира</div>
                                <div class="title"><a href="#">Дунайский пр. 14, к. 1</a></div>
                                <div class="intro">Продажа квартир от застройщика! 1-3 к.кв</div>
                            </div>
                            <div class="footer">
                                <div class="footer-price">52 000</div>
                                <div class="locate">Выборгский</div>
                            </div>
                        </div>
                        <div class="m_lead-item">
                            <a class="image" href="#" style="background-image: url('../images/content/latest/8.jpg')"></a>
                            <div class="description type-rent">
                                <div class="category">Квартира</div>
                                <div class="title"><a href="#">Дунайский пр. 14, к. 1</a></div>
                                <div class="intro">Продажа квартир от застройщика! 1-3 к.кв</div>
                            </div>
                            <div class="footer">
                                <div class="footer-price">52 000</div>
                                <div class="locate">Выборгский</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m_banner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <a href="#"><img src="http://placehold.it/370x90/" alt=""></a>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <a href="#"><img src="http://placehold.it/370x90/" alt=""></a>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <a href="#"><img src="http://placehold.it/370x90/" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <footer class="m_footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <div class="title">О нас</div>
                    <p>Spbestate.info одна из старейших досок объявлений Петербурга по поиску недвижимости. Мы начали свою работу в 2003 г.</p>
                    <p>Основная масса объявлений, подается частными лицами, и Вы имеете возможность снять или купить квартиру без посредников.</p>
                    <p><a href="#">Контакты</a></p>
                </div>
                <div class="col-md-3 visible-lg visible-md">
                    <div class="title">Новости</div>
                    <script type="text/javascript" src="//vk.com/js/api/openapi.js?121"></script>
    
                    <!-- VK Widget -->
                    <div id="vk_groups"></div>
                    <script type="text/javascript">
                    VK.Widgets.Group("vk_groups", {mode: 1, width: "220", height: "400", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 20003922);
                    </script>
                </div>
                <div class="col-md-3 visible-lg visible-md">
                    <div class="title">Жилая</div>
                    <ul class="list">
                        <li><a href="#">Снять квартиру, комнату</a></li>
                        <li><a href="#">Посуточная аренда квартир</a></li>
                        <li><a href="#">Купить квартиру, комнату</a></li>
                        <li><a href="#">Заявки на аренду квартиры</a></li>
                    </ul>
                </div>
                <div class="col-md-3 visible-lg visible-md">
                    <div class="title">Коммерческая</div>
                    <ul class="list">
                        <li><a href="#">Аренда офис, склад, помещение</a></li>
                        <li><a href="#">Аренда банкетные, конференц. залы</a></li>
                        <li><a href="#">Продажа офис, помещение, участок</a></li>
                        <li><a href="#">Заявки, тендеры</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-sm-6">
                    <div class="copyright">© Copyright 2003-2015. <br>All rights reserved. <a href="#" class="rambler"></a></div>
                </div>
                <div class="col-xs-4 col-sm-6">
                    <div class="socials">
                        <a href="#" class="facebook icon-fb"></a>
                        <a href="#" class="twitter icon-tt"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="../scripts/plugins.js"></script>
    <script src="../scripts/app.js"></script>
</body>
</html>