.m_bid-item
  background #fafafa
  border 1px solid $border
  border-radius $radius
  padding 10px 15px
  margin-bottom 20px
  @media screen and (min-width: 568px)
    height 120px
  @media screen and (min-width: 1200px)
    margin-bottom 30px
    height 106px
  .category
    display inline-block
    vertical-align middle
    padding-left 5px
    padding-right 5px
    height 20px
    line-height 20px
    background $orange
    color #fff
    font-size 14px
    border-radius $radius
  .title
    margin-top 5px
    @media screen and (min-width: 568px)
      height 64px
      overflow hidden
    @media screen and (min-width: 1200px)
      height 57px
    a
      color $link
      text-decoration underline
      &:hover, &:focus
        text-decoration none