.m_block-header
  clearfix()
  .headling
    &.left
      float none
      margin-right 0
      @media screen and (min-width: 768px)
        float left
        margin-right 30px
  .m_feed-form
    display none
    @media screen and (min-width: 768px)
      display block
  .m_service-new-button
    display none
    @media screen and (min-width: 768px)
      display block