.m_feed-form
  clearfix()
  &.right
    float right
    margin-top 20px
    width 265px
  .email
    width 230px
    height 26px
    border 1px solid $border
    border-radius $radius
    padding-left 10px
    padding-right 10px
    float left
    &:focus
      border-color $green
  .submit
    height 26px
    width 26px
    float right
    gradient-green()
    border none
    color #fff
    border-radius $radius