.m_lead-filters
  background url("../images/backgrounds/1.jpg") no-repeat 50% 50%
  background-size cover
  padding 15px 0
  @media screen and (min-width: lg)
    height 605px
    padding-top 80px
  > .container-fluid > .row > .col-xs-12:first-child
    @media screen and (max-width: 480px)
      padding-left 0
      padding-right 0
  h1
    margin 0
    padding-bottom 15px
    padding-left 15px
    padding-right 15px
    font-size 36px
    light()
    color #fff
    @media screen and (min-width: lg)
      font-size 48px
      padding-left 0
      padding-bottom 40px


