.m_similar-carousel
  .m_block-header
    padding-left 15px
  .slick-prev
    margin-left -5px
    @media screen and (max-width: 1200px)
      margin-left 0
  .slick-next
    margin-right -5px
    @media screen and (max-width: 1200px)
      margin-right 0
  > .container-fluid
    > .row
      > .col-xs-12
        @media screen and (min-width: 1200px)
          padding-left 0
          padding-right 0
