.m_small-filters
  background url("../images/backgrounds/5.jpg") no-repeat 50% 50%
  background-size cover
  padding 15px 0
  > .container-fluid > .row > .col-xs-12:first-child
    @media screen and (max-width: 480px)
      padding-left 0
      padding-right 0
  .m_filters
    margin-bottom 0



